.TodoItem {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: black;
  gap: 24px;
}

.TodoItem p {
  margin: 0;
  color: black;
}
